/* начало верстки*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */
  overflow-x: hidden;
}

body {
  font-size: 200%; /* 20px */
  text-decoration: none;
  font-size: 'Montserrat';
}

body._lock {
  overflow: hidden;
}


.header {
  width: 100%;
    min-height: 100%;
    overflow:hidden;
    position: fixed;
    z-index: 50;
    
    
}

.container {
    max-width: 100%;
   min-height:100%;
    padding: 0 15px;
    box-sizing: border-box;
    background: rgb(59, 126, 202);
    display: flex;
    justify-content: space-between;
    background-size: contain;
    align-items: center;
}

.logo img  {
  
  width: 18.62rem;
  height: 10.93rem;
  margin-top: calc(10px + 10 * ((100vw - 320px) / (1280 - 320)));
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / (1280 - 320)));
}

.contacts {
  max-width:100%;
}

.phone  {
    
    color: rgb(0, 0, 0);
    font-size: calc(10px + 10 * ((100vw - 320px) / (1280 - 320)));
    font-family: 'Montserrat';
}

/*меню*/

.header__nav {
  display: flex;
  text-decoration: none;
  
}
.menu__body {
}
.nav-list {
  
  
}
.nav-item {
  
  color: #fff;
  font-family: Montserrat;
}
.nav-link {
  text-decoration: none;
  font-size: calc(10px + 7 * ((100vw - 320px) / (1280 - 320)));
  color: #fff;
  font-family: 'Montserrat';
  padding:1rem;
  
}

.cart {
  width:2rem;
  height:2rem;
}

main {
  font-size: 100px;
  padding: 150px;
}

.menu_icon {
  display: none;
}

/*блок main*/

main {
  width: 100%;
  margin:50px 0 0 0;
}

.first_screen {
  display: flex;
  width: 100%;
  margin-left:50px;
  margin-bottom: 100px;
  
}
.left_block_first {
  font-family: 'Montserrat', sans-serif;
  margin-top:300px;
}
.subheading {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(12px + 10 * ((100vw - 320px) / (1280 - 320)));


}
.heading {

  font-size: calc(50px + 30 * ((100vw - 320px) / (1280 - 320)));
}
.description {
  font-size: calc(10px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.button {
  font-size: calc(15px + 10 * ((100vw - 320px) / (1280 - 320)));
  background-color: #635C5C;
  padding: 20px 20px 20px 20px;
 border-radius: 10px;
 color: #fff;
 text-decoration: none;
 display: block;
 width: 20rem;
 height: 70px;
 
 margin-top:30px;
 text-align: center;
  
}
.right_block_first {
  margin: 300px 0 0 50px;
 

}
.image_first img {
  display: block;
  object-fit: cover;
  

}


.image_first {
  
width:45rem;
height: 33rem;
left: 821px;
top: 375px;
display: block;
}

.tropik_ferma {
  font-size: 3rem;
}

/*Блок карточки*/

.tab {
  font-family: 'Montserrat';
  font-size: 50px;
  font-weight: 700;
  margin:0 0 50px 50px;
  

}
.cart-menu {
  margin-left:50px;
  border: 1px solid #635C5C;
  display: flex;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
 
  
  
}
 .menu_main{
  border: 1px solid #635C5C;
  border-radius: 30px;

  width: 400px;
  height: 533px;
  background-image: url(./img/87985406.jpg);
  background-repeat: no-repeat;
  display: block;
  min-width:300px;
  min-height: ;
  padding: 0 0 0 15px;
  border-radius: 30px;

  
}
.button_text {
  

  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-family: Montserrat;
  padding-top:420px;
  align-items: center;
  
  
}

.ferma_text {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-family: Montserrat;
  padding-top:420px;
  align-items: center;
}

.delivery_text {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-family: Montserrat;
  padding-top:420px;
  align-items: center;
}

.ferma  {
  background-image: url(./img/rasbora.png);
  border: 1px solid #635C5C;
  width: 33.333333%;
  min-width:300px;
  padding: 0 0 0 15px;
  margin:0 0 0 15px;
  border-radius: 30px;
}

.delivery {
  background-image: url(./img/neon\ goluboi\ fishferma.png);
  border: 1px solid #635C5C;
  width: 33.333333%;
  min-width:300px;
  /*width: calc(33.33333% - 25px);*/
  padding: 0 0 0 15px;
  margin:0 0 0 15px;
  border-radius: 30px;
}



